<h1 mat-dialog-title>{{ title }}</h1>
<mat-dialog-content>
    <form [formGroup]="addUserForm">
        <div class="dialog-field">
            <div class="dialog-input">
                <label>Username</label>
                <input matInput formControlName="username">
            </div>
            <div class="dialog-input">
                <label>Email</label>
                    <input matInput type="email" formControlName="email">
                    <mat-error *ngIf="addUserForm.get('email')!.hasError('email') && !addUserForm.get('email')!.hasError('required')">
                        Please enter a valid email address
                      </mat-error>
                      <mat-error *ngIf="addUserForm.get('email')!.hasError('required')">
                        Email is <strong>required</strong>
                      </mat-error>
            </div>
            <div class="dialog-input">
                <label>Phone Number</label>
                <input matInput formControlName="phone">
            </div>
            <div class="dialog-input">
                <label>Skillsets</label>
                <input matInput formControlName="skillsets">
            </div>
            <div class="dialog-input">
                <label>Hobby</label>
                <input matInput formControlName="hobby">
            </div>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close (click)="Cancel()">Cancel</button>
    <button mat-button mat-dialog-close cdkFocusInitial>{{ label }}</button>
</mat-dialog-actions>