<h1 mat-dialog-title>{{ title }}</h1>
<mat-dialog-content>
    <form [formGroup]="addUserForm">
        <div class="dialog-field">
            <mat-form-field class="form-field">
                <mat-label>Username</mat-label>
                <input matInput formControlName="username">
                <mat-error *ngIf="addUserForm.get('username')!.hasError('required')">
                    Username is <strong>required</strong>
                </mat-error>
                <mat-error
                    *ngIf="addUserForm.get('username')!.hasError('minlength') && !addUserForm.get('username')!.hasError('required')">
                    Username must be longer than <strong>5</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="form-field">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email">
                <mat-error
                    *ngIf="addUserForm.get('email')!.hasError('email')">
                    Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="addUserForm.get('email')!.hasError('required')">
                    Email is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="form-field">
                <mat-label>Phone Number</mat-label>
                <input matInput formControlName="phone" placeholder="+6011xxxxxxx">
                <mat-error *ngIf="addUserForm.get('phone')!.hasError('required')">
                    Phone is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="addUserForm.get('phone')!.hasError('invalidPhoneNumber')">
                    Please insert a valid phone number with country code (e.g., +60165010101)
                </mat-error>
            </mat-form-field>
            <app-multi-input class="form-field" [Title]="'Skillsets'" [Items]="skillsets" [control]="skillSetsControl"
                (itemsChange)="UpdateSkillsets($event)"></app-multi-input>
                <app-multi-input class="form-field" [Title]="'Hobby'" [Items]="hobby" [control]="hobbyControl"
                (itemsChange)="UpdateHobby($event)"></app-multi-input>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close (click)="Cancel()">Cancel</button>
    <button mat-button mat-dialog-close cdkFocusInitial [disabled]="addUserForm.invalid" (click)="Confirm()">{{ label }}</button>
</mat-dialog-actions>