.dialog-field {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 500px;
    height: 500px;
}

.dialog-input {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

mat-dialog-content {
    padding: 20px;
}

input {
    height: 30px;
}